{% extends "base.html" %}
{% block title %}Manage Staff{% endblock %}

{% block sidebar %} 
<li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/treks">Treks</a></li>
<li class="nav-item"><a class="nav-link active" href="/admin/staff">Staff</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/users">Users</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/bookings">Bookings</a></li>
{% endblock %}

{% block content %}

{% endblock %}