{% extends "base.html" %}
{% block title %}My Treks{% endblock %}

{% block sidebar %} 
<li class="nav-item"><a class="nav-link" href="/staff/dashboard">Dashboard</a></li>
<li class="nav-item"><a class="nav-link active" href="/staff/treks/{{ staff_id }}">My Treks</a></li>
<li class="nav-item"><a class="nav-link" href="/staff/users/{{ staff_id }}">Participants</a></li>
<li class="nav-item"><a class="nav-link" href="/staff/profile/{{ staff_id }}">Profile</a></li>
{% endblock %}

{% block content %}
<table class="table bg-white align-middle">
    <thead>
        <th>S.No</th>
        <th>Trek Name</th>
        <th>Location</th>
        <th>Difficulty</th>
        <th>Slots</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for trek in treks %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.difficulty }}</td>
            <td>{{ trek.available_slots }}</td>
            <td>{{ trek.status }}</td>
            <td>
                <a class="btn btn-primary rounded-pill" href="/staff/trek/{{staff_id}}/manage/{{ trek.id }}">Manage</a>    
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}