{% extends "base.html" %}
{% block title %}Bookings{% endblock %}

{% block sidebar %} 
<li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/treks">Treks</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/staff">Staff</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/users">Users</a></li>
<li class="nav-item"><a class="nav-link active" href="/admin/bookings">Bookings</a></li>
{% endblock %}

{% block content %}
<h3 class="mb-4">Bookings</h3>
<form class="mb-3" method="GET" style="max-width:450px">
    <div class="input-group">
        <span class="input-group-text">
            <i class="bi bi-search"></i>
        </span>
        <input class="form-control" type="text" name="q" placeholder="Search by booking id or username" value="{{ request.args.get('q', '') }}">
    </div>
</form>
{% if not result and query %}
<h5 class="mt-2 fw-bold">No Results Found !</h5>
{% endif %}
<table class="table bg-white align-middle">
    <thead>
        <th>S.No</th>
        <th>Booking ID</th>
        <th>User</th>
        <th>Trek</th>
        <th>Booking Date</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for b in result %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{b.id}}</td>
            <td>{{b.user.name}}</td>
            <td>{{b.trek}}</td>
            <td>{{b.date.strftime('%d %b %Y')}}</td>
            <td>{{b.status}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}